body {
    width: 1024px;
    margin: auto;
}

.contact-column {
    font-weight: bold;
    text-align: right;
    padding: 3, 0;
    line-height: 1.45;

    color: white;
    background: rgba(20,172,211,.5);
    box-shadow: 12px 0 rgba(20,172,211,.5), -10px 0 rgba(20,172,211,.5);  
}

.table-header {
    width: 1024px;
    margin: auto;
}
